@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=VT323&display=swap");

$color_1: #44ff00;
$color_2: #fff;
$font-family_1: JBMono, monospace;
$font-family_2: VT323, monospace;
$background-color_1: #000000;

/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */
/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */
@font-face {
  font-family: VT323;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: JBMono;
  font-style: normal;
  font-weight: 700;
}
/*
 * A better looking default horizontal rule
 */
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/*
 * Remove default fieldset styles.
 */
/*
 * Allow only vertical resizing of textareas.
 */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/*
 * Hide visually and from screen readers, but maintain layout
 */
/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* Style adjustments for viewports that meet the condition */
/* Style adjustments for high resolution devices */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
/*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
html {
  color: $color_1;
  background-color: $background-color_1;
  font-size: 1em;
  line-height: 1;
}
p {
  font-family: $font-family_2;
  font-size: 2em;
}
.ascii {
  font-family: $font-family_1;
  white-space: pre;
  font-size: 1em;
}
.report {
  font-family: $font-family_2;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 2em;
}
a {
  font-family: $font-family_2;
  color: $color_1;
  font-size: 2em;
}
h1 {
  font-family: $font-family_2;
  font-size: 2em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid $color_1;
  margin: 1em 0;
  padding: 0;
}
audio {
  vertical-align: middle;
}
canvas {
  vertical-align: middle;
}
iframe {
  vertical-align: middle;
}
img {
  vertical-align: middle;
}
svg {
  vertical-align: middle;
}
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.hidden {
  display: none !important;
}
[hidden] {
  display: none !important;
}
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.visually-hidden.focusable {
  &:active {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
}
.invisible {
  visibility: hidden;
}
.clearfix {
  &::before {
    content: "";
    display: table;
  }
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@media print {
  * {
    background: #000000 !important;
    color: $color_2 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    &::before {
      background: #000000 !important;
      color: $color_2 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
    &::after {
      background: #000000 !important;
      color: $color_2 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }
  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
  }
  a[href] {
    &::after {
      content: " (" attr(href) ")";
    }
  }
  abbr[title] {
    &::after {
      content: " (" attr(title) ")";
    }
  }
  a[href^="#"] {
    &::after {
      content: "";
    }
  }
  a[href^="javascript:"] {
    &::after {
      content: "";
    }
  }
  pre {
    white-space: pre-wrap !important;
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
}
